
.logo{
  font-size: 2em;
  color: purple;
  user-select: none;
  
}
.logoo{
  font-size: 3em;
  color: purple;
  user-select: none;
  padding: 1vh;
  margin: 0;
  
}
.logo span{
  color: darkmagenta;
}
.holder{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('https://img.freepik.com/free-vector/abstract-banner-with-low-poly-connections-design_1048-13077.jpg?w=1380&t=st=1685992656~exp=1685993256~hmac=38c18483c42f56f65bd721a767c11c2acff5ef08b86dc582ccc0a6a43477ed90')no-repeat;
  background-size: cover;
  background-position: center;
}
.holderr{
min-height: 100vh;
background: url('https://img.freepik.com/free-vector/abstract-banner-with-low-poly-connections-design_1048-13077.jpg?w=1380&t=st=1685992656~exp=1685993256~hmac=38c18483c42f56f65bd721a767c11c2acff5ef08b86dc582ccc0a6a43477ed90')no-repeat;
background-size: cover;
background-position: center;
}
.holderrr{
  min-height: 100vh;
  display:  flex;
  background: url('https://img.freepik.com/free-vector/abstract-banner-with-low-poly-connections-design_1048-13077.jpg?w=1380&t=st=1685992656~exp=1685993256~hmac=38c18483c42f56f65bd721a767c11c2acff5ef08b86dc582ccc0a6a43477ed90')no-repeat;
  background-size: cover;
  background-position: center;
  }
  

.wrapper{
  position: relative;
  width: 400px;
  height: 440px;
  border: 2px solid rgba(255,255,255,.5);
  border-radius: 40px;
  backdrop-filter: blur(15px);
  box-shadow: 0 0 30px rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.wrapperr{
  position: relative;
  width: 400px;
  height: 440px;
  border: 2px solid rgba(255,255,255,.5);
  border-radius: 40px;
  backdrop-filter: blur(15px);
  box-shadow: 0 0 30px rgba(0,0,0,.5);
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-self: center;
  align-self: center;
  margin-left: 30vw;
  margin-right: 30vw;
}
.ppForm{
  color: #fff;
}

.wrapperr .formBox{
  width: 100%;
  padding: 40px;
}

.wrapper .formBox{
  width: 100%;
  padding: 40px;
}
.formBox h2{
  font-size: 2rem;
  
  text-align: center;
}
.inputBox{
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom:  2px solid black;
  margin: 30px 0;
}
.inputBox label{
position: absolute;
top: 50%;
left: 5px;
transform: translateY(-50%);
font-size: 1rem;
font-weight: 500;
pointer-events: none;
transition: .5s;
}
.inputBox input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 600;
  padding: 0 35px 0 5px;
}
.inputBox input:focus~label,
.inputBox input:valid~label{
  top:-5px;
}
  
.inputBox .icon{
 position: absolute; 
 right: 8px;
 font-size: 1.2rem;
 line-height: 57px;
}

.btn{
  width: 100%;
  height: 45px;
  background-color: black;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  color: whitesmoke;
  font-weight: 500;

}
.btn:hover{
  color: black;
  background-color: darkviolet;
  transition: .5s;
}
.bbholder{
  display: flex;
  justify-content: space-evenly;

}
.ll{
  padding-left: 4vh;
  color: white;
  font-size: x-large;
}
.btnBB{
  width: 10vh;
  height: 100%;
  padding: 10px;
  background-color: black;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  color: whitesmoke;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
}
.btnBB:hover{
  color: black;
  background-color: darkviolet;
  transition: .5s;
}

.remember{
  font-size: .9em;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}
.remember label input{
  accent-color: black;
  margin-right: 3px;
}
.remember a{
  color: black;
  text-decoration: none;
}
.remember a:hover{
  text-decoration: underline;
}




.header{
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99; 
}
.nav img{
  height: 2.5rem;
  padding-top: 10px;
}
.nav a{
  position: relative;
  font-size: 1.1rem;
  color: black;
  font-weight: 500;
  text-decoration: none;
  font-size: small;
}
.bav{
  position: relative;
  font-size: 1.1rem;
  color: black;
  font-weight: 500;
  text-decoration: none;
  font-size: small;
}
.bav:hover{
  color: purple;
}



.reviewerHolder{
  min-height: 100vh;
  background: url('/img/background.jpg') no-repeat ;
  background-size: cover;
  background-position: center;
}

.papers{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  justify-items: center;
}

.paperCard {
  max-width: 420px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 30px;
  padding: 1rem;
  margin-bottom: 20PX;

  

}

.info {

  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 17px;
  font-size: .7em;
  margin-right: 25px;
  text-align: justify;
  height: 300px;
  overflow: hidden;
  text-overflow: ellipsis;


}
/* h1{
  font-weight: 500;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

input[type=text],
select,
textarea {
width: 100%;
padding: 12px;
border: 1px solid #ccc;
border-radius: 4px;
resize: vertical;
}


input[type=submit] {
background-color: black;
color: white;
padding: 12px 20px;
margin-top: 1rem;
border: none;
border-radius: 10px;
cursor: pointer;
width: 100%;
}

input[type=submit]:hover {
  transition: 0.5s;
  color: black;
background-color: #800080;
} */
.title{
  font-weight: bold;
  font-size: large;
}
.formHolder{
  min-height: 100vh;
  background: url('/img/background.jpg') no-repeat ;
  background-size: cover;
  background-position: center;
}
.formGroup{
  padding: 10px;
}

.label {
  padding: 5px 12px 5px 0;
  display: inline-block;
  }
  .input{
  margin-left: 12px;
  }








.pageForm {
  margin: 20px auto;
  width: 80%;
  max-width: 800px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.pageForm  label {
  display: block;
  margin-bottom: 5px;
  color: #800080;
}

.pageForm 
/* input[type="text"],
input[type="email"], */
/* textarea  */
{
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* .pageForm input[type="radio"] {
  margin-right: 5px;
} */

.pageForm 
/* button[type="submit"],
button[type="button"]  */
{
  display: block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #800080;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* .pageForm 
button[type="submit"]:hover,
button[type="button"]:hover {
  background-color: #a64ca6;
} */

.author {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* legend {
  color: #800080;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}

#schedule-form{
  padding-top:3rem;}
#Conference_title{
  width: 33%;
  margin-bottom: 1rem;
}  
#Sessions{margin:1rem;}
#Conference_title{margin: 1rem;}
#wwww{margin: 1rem;}
#dates-filter{
margin: 1rem;
width: 20%;
}  */
